/*
 Theme Name:   BB Astra Child
 Theme URI:    http://bbcigarettes.ca
 Description:  Astra Child Theme for BB Cigarettes with Custom Elementor Widgets
 Author:       Antigravity
 Template:     astra
 Version:      1.0.0
 Text Domain:  bb-astra-child
*/
